@import '../../../sass/variables';
@import '../../../sass/mixins';

.toDoContainer {
  @include flex(center, center, column);
  height: 30vh;
  width: 40%;
  background-color: $white-ff;
  &__box1st {
    width: 100%;
    @include flex(start, center, row);
    gap: 1rem;
    border-bottom: 2px solid $divisor;
    &--input {
      all: unset;
      height: 5rem;
      width: 80%;
      font-size: 1.7rem;
      background-color: $white-fe;
      @include flex(start, center, row);
      cursor: text;
    }
    &--input::placeholder {
      font-style: italic;
      font-size: 1.7rem;
      color: $grey
    }
    &:focus {
      box-shadow: 0px 0px 4px 1px $hover-nav;
    }
  }
}

.isFocus {
  box-shadow: 0px 0px 4px 1px $hover-nav;
}

.inputContainer {
  @include flex(center, center, row);
  padding: 1rem;
  width: 3.5rem;
  background-color: $white-fe;
  height: 100%;
  &__buttonDown {
    height: .7rem;
    cursor: pointer;
    width: 1.2rem;
    display: none;
    &.isFocus {
      filter: brightness(.1);
    }
  }
}